

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html{
    height: 100vh;
    color: white;
}

body{
    height: 100%;
}

body{
    background-color: #0C0B0B;
    padding: 50px 200px;
}

.main{
    height: 100%;
    display: flex;
    flex-direction: column;
    
}


.form-box{
    /* background-color: red; */
    /* text-align: center; */
    margin: 0px auto;
    width: 400px;
}
.form-group{
    margin-bottom: 10px;
}

.input-control{
    background-color: transparent;
    border: none;
    outline: none;
    padding: 5px 10px;    
}


.btn{
    background-color: #F1D5BB;
    font-weight: bold;
    cursor: pointer;
    border-radius: 3px;
}

.text-field{
    padding: 5px 3px;
    color: #F1D5BB;
    border-bottom: 1px solid #F1D5BB;
}


.number-list{
    display: flex;
    flex-wrap: wrap;
}


.number-item{
    background-color: #F1D5BB;
    color: #0C0B0B;
    /* width: 35px;
    height: 35px; */

    border-radius: 2px;
    padding: 5px 10px;
    cursor: default;

    margin: 10px 5px;
} 